<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            color: brown;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>O M G! How do you reach to this confidential Page</h1>
    <p>Just Kidding! This is not a valid URL</p>
</body>
</html>