body
{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	min-width: 515px;
	width: 100%;
	
}

:root
{
	--section-color-blue:#2B57A4;
	
}

/*Body Header*/

#body-header
{
	opacity: 0.8;
	background-image: url(../Images/mackbook_mouse.webp);
	height: 65vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
}

/*Horizontal List*/
.horizontal-list
{
	list-style:none;
	padding-left: 0px;
	padding-top: 1.8%;
	margin-top: 0%;
}

.horizontal-list li
{
	display: inline;
	margin: 0% 1%;
}
.horizontal-list a
{
	text-decoration: none;
	color:white;
}
.nav-menu a
{
	transition: color 0.5s,border-bottom 4s;
}

.nav-menu a:hover
{
	color:lightgrey;
	border-bottom: 1px solid white;
}


/* Dropdown items on small screens */

.dropdown
{
   /* position: absolute;
   top:3%;
   right:7%;
   display: none; */

   color: white;
    margin-top: 3%;
    margin-left: 3%;
    display: none;
}

.dropdown i
{
	font-size: 2rem;
}

.dropdown-items
{
	margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
 }
 .dropdown-items ul
 {
	 list-style:none;
	margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
 }

 .dropdown:hover .dropdown-items
 {

    display: block;
    position: absolute;
    left: 3%;
}

.dropdown-items a
{
	text-decoration: none;
	color:white;
	transition: color 0.5s,border-bottom 4s;
	font-size: 1.1rem;
}



/*Text Center Class*/

.text-center
{
	text-align: center;
}

#body-header h1
{
	color:white;
	margin-top: 14%;
	font-size: 350%;
	margin-bottom: 0%;

}
.social-icons
{
	margin: 0.5%;
	padding: 0%;
}

.social-icons li a i
{
	height:3.5vh;
	border-radius: 50%;
	font-size: 20px;
}

.social-icons li a i:hover
{
	box-shadow:0px 0px 4px 8px rgba(230, 196, 196, 0.3);
}

/*About Section*/

#about
{
height:auto;
width: 100%;
position :relative;
}

#my-image
{
	height:12rem;
	 width: 12rem;
	 margin: auto;
	 margin-top: -10vh;
}

#my-image img
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 4px 2px lightgrey;
	border: 3px solid white;
}

#about p
{
	color:grey;
	padding-left:15%;
	padding-right:15%;
	padding-bottom: 5%;
	font-family: sans-serif;
    font-size: 1.3rem;
	line-height: 2rem;
}

.text-highlight
{
	color:#2857a4;
}

section{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n)
{
background-color: #EFEFEF;
}
section:nth-child(2n+1)
{
	background-color: white;
}

section.row-align div
{
	flex-direction: row;
}

.section-heading
{
	width:auto;
	padding-top: 30px;
	font-weight: 900;

}

.section-heading span
{
	font-size: 50px;
	color:#2857a4;
}

.skills-display
{
	width:80%;
	height:40vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 80px;

}

.skill-progress
{
	width:12rem;
	height:2rem;
	background-color: #D3D3D3;
	border-radius: 0.8rem;
	margin-left: 50px;
}

.skill-progress>div
{
	border-radius: 20px 0px 0px 20px;
}

.mb-blue
{
	background-color: var(--section-color-blue);
}
.mb-orange
{
	background-color: #E74C2B;
}
.mb-purple
{
	background-color: #93738C;
}
.mb-green
{
	background-color: #3D8176;
}

.eighty-five-percent
{
	width: 85%;
	height: inherit;
}

.sixty-five-percent
{
	width: 65%;
	height: inherit;
}

.eigthy-percent
{
	width: 80%;
	height: inherit;
}
.fifty-percent
{
	width: 50%;
	height: inherit;
}

.skill-name
{
	padding-left: 10%;
	color:white;
	font-size: 20px;
}

.margins
{
	margin: 0px 100px;
}

.portfolio-display
{
	width:100%;
	height:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

.portfolio-images img
{
	width:20rem;
	height:15rem;
	margin-left:10vh;
	
}

.contact-me
{
	background: linear-gradient(#2857a4,#403066);
	width:100%;
	height:auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;


}


.contact-header
{
    width: 100%;
    padding-left: 43%;


}

.contact-me input
{
	background: linear-gradient(#2857a4,#403066);
	border: none;
	border-bottom: 2px solid white;
	display: inline-block;
	width: 80%;
	margin: 5% 8%;
	height: 25px;
	font-size: 17px;
	padding-left: 2%;

}


.contact-me input#message
{
	height: 70px;

}

.contact-me button
{
	background: linear-gradient(#2857a4,#403066);
	border: 2px solid white;
	display: inline-block;
	margin: 5% 32%;
	color: white;
	height: 2rem;
	width: 25%;
	font-weight: 700;


}

#form-div
{
	width: 47%;
	height: auto;
	margin-top: 3%;
}
#contact-div
{
	width: 47%;
	height: auto;
	margin-top: 3%;
}

.icons{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 4%;
} 
.icons li{
	
	margin-left: 3%;
} 

#contact-div
{
	position: relative;
	width: 40%;
	height: auto;
	color: white;
}

#contact-div p
{
	overflow-wrap: break-word;
}



.timeline
{
	position: relative;
	width: 75%;
	
}

.timeline-box
{
	position: relative;
      width: 40%;
      min-height: 150px;
     
      margin: 3%;
      text-align: right;


}

.timeline-box:nth-child(2n)
{
      left:53%;

}

.timeline-box:nth-child(2n)::after
{
	content: '';
	position: absolute;
	background-color: #D3D3D3;
	top:35%;
	left:-16%;
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
    z-index: 1;
}

.experience-box:before
{
	content: '';
    position: absolute;
    background: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000030_1550710829_ninjasicon.png);
    top: 2%;
    left: 3%;
    width: 20%;
    height: 32%;
    background-repeat: no-repeat;
    background-size: contain;
}

.timeline-box:nth-child(2n-1)::after
{
	content: '';
	position: absolute;
	background-color: #D3D3D3;
	top:35%;
	right:-19.5%;
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
    z-index: 1;
}

.timeline-divider
{
    border: 1px dashed #94D3FD;
    height: 71%;
    position: absolute;
    left: 50%;
    top: 11%;
    width: 0;
} 


.timeline-traveller
{
	position: sticky;
	top:18%;
	transform: rotate(90deg);
	z-index: 2;
}
.timeline-box h2
{
	color:var(--section-color-blue);
	margin-bottom: -4%;
	
}

/*.timeline-box h2::before
{
	content: '';
	background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png);
	display: inline-block;
	height: 20px;
	width: 50px;
	background-size:contain;
	background-repeat: no-repeat;
}*/
/* {
	color:var(--section-color-blue;
	margin-bottom: -4%;
	
} */
.timeline-box h2 img
{
	width: 12%;
	margin-right: 63%;

	
}

.timeline-box h3
{
	color:#EB822D;
	 
}

.timeline-box p
{
	color:#8E8080;
	 
}

.timeline-box p:first-of-type
{
	margin-top: -5%;
}

.education-box:before
{
	content: '';
    position: absolute;
    background: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000032_1550746413_iiitd_logo.png);
    top: 2%;
    left: 3%;
    width: 20%;
    height: 32%;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen  and (max-width:768px)
{
	#body-header h1
{
	font-size: 280%;
	padding-top: 27%;
	margin-top: 0%;
}
.timeline-divider
{
	left:8%;
}
.timeline-box
{
	width: 80%;
	left:10%!important;
}

.timeline-box::after
{
	
	left:-7.5%!important;
}

#form-div
{
	width: 80%;
}
#contact-div
{
	width: 80%;
}

}

@media screen  and (max-width:572px)
{
	#body-header h1
	{
		padding-top: 42%;
		margin-top: 0%;
	}
	.header-menu    
	{ 
		display: none; 
	}
	.dropdown 
	{ 
		display: inline-block;
	}

	.contact-header
	{
		padding-left: 25%;
	}
	.contact-me button
	{
		width:40%;
	}
	.section-heading span
	{
		font-size: 160%;
	}
}





